#container {
	width: 1200px; 
	display: inline-block;
}

#pokemon {
	width: 900px;
	display: inline-block;
}

#pokedex {
	width: 200px;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	border: 10px solid red;
	border-bottom: 20px solid red;
}